label {
    margin-left: 10px;
}

.title {
    font-size: 20px;
    display: inline;
}

.error {
    color: #d00;
}

#input {
    width: 100%;
    height: 300px;
}

#result {
    border: 1px solid #aaa;
    display: block;
    overflow: scroll;
    min-height: 200px;
}

#options-container {
    height: 40px;
}

#call-str {
    border: 1px solid #ddd;
    padding: 2px;
    float: right;
    font-size: .9em;
    font-weight: bold;
}

.json-sample {
    float: right;
}